.loginForm{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.container-form {
    width: 360px;
    height: auto;
    border-radius: 5px;
    background-color: #ffffff;
    margin-top: 59px;
    box-sizing: border-box;
    border: 1px solid #e2e2e2;
}

  .loginForm ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #cccccc;
    opacity: 1; /* Firefox */
  }
  
  .loginForm :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #cccccc;
  }
  
  .loginForm ::-ms-input-placeholder { /* Microsoft Edge */
    color: #cccccc;
  }
 