.loginForm{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    text-align: center;
}
.form-group label{
    margin-bottom:10px;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #333333;
  
}

.container-form {
    width: 360px;
    height: auto;
    border-radius: 5px;
    background-color: #ffffff;
    margin-top: 59px;
    box-sizing: border-box;
    border: 1px solid #e2e2e2;
    text-align: center;
}
.loginForm.checkbox {
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 20px;
  }
  .loginForm input[type="checkbox"]{
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }

  .loginForm .form-control {
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    height: 45px;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.08;
    letter-spacing: -0.2px;
    border-color: #e2e2e2;
  }
  .loginForm .form-control:focus {
    z-index: 2;
    box-shadow: 0 0 0 0.2rem rgba(250, 137, 151, .5);
  }
  .loginForm input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: #333;
    margin-top: 31px; 
  }
  .loginForm input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #333;
  }
  .loginForm ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #cccccc;
    opacity: 1; /* Firefox */
  }
  
  .loginForm :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #cccccc;
  }
  
  .loginForm ::-ms-input-placeholder { /* Microsoft Edge */
    color: #cccccc;
  }
  .login-btn{
    height: 45px;
    background-color:  #fa8997;
    border-color:  #fa8997;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.75;
    letter-spacing: 1.3px;
    color: #ffffff;
    border-radius: 5px;
    border: 2px solid;
    padding: 10px 25px 10px 25px;
}
.disabled {
  cursor: context-menu;
  background-color: #fa8997;
  border-color: #fa8997;
  opacity: 0.5;
}
.login-btn:hover,.login-btn:not(:disabled):not(.disabled):active{
    border-color: #fa8997;
    color: #ffffff;
    background-color: #fa8997
}
.login-btn:focus,.login-btn:not(:disabled):not(.disabled):active:focus{
box-shadow: 0 0 0 0.2rem rgba(250, 137, 151, .5);
}
.register-text{
  margin-top: 11px;
  margin-left: 35px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.93;
  letter-spacing: -0.2px;
  color: #707070;
}

.text{
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.93;
  letter-spacing: -0.2px;
  color: #707070;
}
.register-btn{
  color: #fa8997;
  padding-left: 5px;
}
.forget-btn
{
  color:#59a4c7;
  margin-left: 30px;
  font-size: 14px;
}